@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply font-mono
}

.container-center{
    @apply mx-auto bg-slate-800 w-2/5 h-96 rounded-md
}

.nginput-div{
    @apply w-auto flex flex-row justify-around my-1 py-2
}

.nginput-text{
    @apply bg-slate-600 w-10/12 outline outline-offset-1 outline-2 outline-transparent hover:outline-blue-500 hover:bg-slate-500 ease-out duration-300 rounded-sm h-auto p-2 shadow-lg shadow-blue-100/20 hover:shadow-blue-800/80 text-gray-300
}

.nginput-btn{
    @apply outline outline-offset-1 outline-2 outline-transparent rounded-sm bg-blue-500 p-2 h-auto w-14 text-slate-100 font-bold hover:bg-blue-400 hover:outline-slate-100 ease-out duration-300 shadow-lg shadow-blue-800/20 hover:shadow-slate-100/30
}

.todo-list-div{
    @apply h-5/6 w-auto overflow-auto px-2
}

.todo-list-ul{
    @apply w-full mx-auto list-none  
}

.scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, dan Opera */
}
  
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE dan Edge */
    scrollbar-width: none;  /* Firefox */
}

.todo-list-li{
    @apply flex flex-row justify-between my-2 p-2 bg-slate-600 rounded-md text-white shadow-lg shadow-slate-100/10 hover:bg-slate-500 hover:shadow-slate-100/20 ease-out duration-300 outline outline-offset-1 outline-2 outline-transparent hover:outline-blue-500
}

.todo-list-del{
    @apply bg-slate-800 w-6 rounded-sm outline outline-2 outline-offset-0 outline-transparent hover:outline-blue-500 hover:shadow-blue-500/60 shadow-inner shadow-slate-100/20 ease-out duration-300
}